/*
*= require_self
*= require jquery.ui.core
*= require jquery.ui.theme
*= require dataTables/src/demo_table_jui
*/

#dataset_content_wrapper{overflow: auto;padding-bottom: 20px;}
.dataTables_info { width: 45% !important;}
#dashboard-content{padding: 10px;}
#dashboard-content p{margin: 10px 0px;}